<!DOCTYPE html>
<html>
  <head>
    <title><%= request.host.upcase %></title>

    <%= render 'shared/meta' %>

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-800">
    <main class="container mx-auto px-5 flex min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
