<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
  <head>
    <title><%= request.host.upcase %></title>

    <%= render 'shared/meta' %>

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-800">
    <main class="container mx-auto px-5 flex min-h-screen">
      <%= yield %>
    </main>

    <footer class="text-center mt-[-50px]">
      <section>
        <a href="https://github.com/vladyio/quicktube"
           class="text-blue-400 border-b-2 border-blue-400"
         _target="blank">
          GitHub
        </a>
      </section>

      <section class="mt-2">
        <sup class="text-blue-400">
          <code>
            <%= %x[git tag --list | sort | tail -n 1] %>
            (<%= %x[git rev-parse --short HEAD].strip %>)
          </code>
        </sup>
      </section>
    </footer>
  </body>
</html>
